Categories=AudioVideo;
Comment=Play and organize your music collection
NoDisplay=true
Class=rhythmbox
StartupNotify=false
GenericName=Music Player
Icon=rhythmbox
Bugzilla=GNOME
Type=Application
FullName=Rhythmbox Music Player
DocPath=rhythmbox/rhythmbox.xml
OtherBinaries=rhythmbox;rhythmbox-metadata;
Product=rhythmbox
Name=Rhythmbox
Version=3.1
Component=general
Terminal=false
MimeType=x-content/audio-player;x-content/audio-cdda;
Exec=rhythmbox-client --select-source %U
